div button{
width:  100% !important; 
display: block !important;
}
#cutit{
    display: inline !important;
    /* width: 90% !important; */
    
}
.knife_scheme{
    width: 39.6% !important;
    float: left;
    text-align: right;
}
/* .xvost_scheme{
    width: 39.9% !important;
    float: right;
    text-align: left; */
/* } */

.knife_scheme svg{
    /* z-index: 2; */
    /* width: 39.6% !important; */
    /* float: left; */
    /* margin-left: -80px; */
    /* position: fixed; */
}

.xvost_scheme svg{
    /* z-index: 2; */
    /* position: fixed; */
    margin-left: -30px !important;
    width: 330px;
}
canvas{
    margin-top: 200px;
}
body {
    background: #505957 !important;
}
.container{
    display: none;
}

.generalButtons{
    text-align: center;
}

#buyButton{
    position: absolute;
    top: 70% !important;
    z-index: 2 !important;
    width: 100px !important;
    left: 45%;
}

.hidden{
    visibility: hidden;
}

